.jobs-container {
  min-height: 100vh;
  background-color: black;
}

.profile-jobs-container {
  padding: 20px;
  display: flex;
}

.hr-line {
  max-width: 300px;
}

.input-container {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.input-element {
  min-height: 35px;
  min-width: 300px;
}

.loader-container {
  min-height: 480px;
  min-width: 680px;
  max-width: 750px;
  margin-left: 70px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.fail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  min-width: 480px;
  margin-left: 30px;
}

.failure-heading {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.failure-description {
  font-size: 14px;
  color: white;
}

.retry-button {
  border-radius: 8px;
  cursor: pointer;
}
